table lomba
id, idAdmin, namaLomba, idKategori, deskripsiLomba,
tanggalBukaPendaftaran, tanggalTutupPendaftaran, posterLomba, lampiran, created_at, updated_at

table kategoris
id, jenisKategori, created_at, updated_at

table pesertas
id, idLomba, idMahasiswa, tanggalDaftar, created_at, update_at

In [42]:
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
        host='localhost',  
        database='sirekom_ai',  
        user='root',  
        password=''  
    )

In [28]:
df = pd.read_csv('kategoris.csv')
def insert_data_kategoris(row):
    cursor = connection.cursor()
    query = "INSERT INTO kategoris (id, jenisKategori, created_at, updated_at) VALUES (%s, %s, %s, %s)"
    values = ( row['id'], row['jenisKategori'], row['created_at'], row['updated_at'])
    cursor.execute(query, values)
    connection.commit()
    cursor.close()

df.apply(insert_data_kategoris, axis=1)

connection.close()

In [37]:
dfl = pd.read_csv('lombas.csv')
def insert_data(row):
    cursor = connection.cursor()
    query = "INSERT INTO lombas (id, idAdmin, namaLomba, idKategori, deskripsiLomba, tanggalBukaPendaftaran, tanggalTutupPendaftaran, posterLomba, lampiran, created_at, updated_at) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    values = (
        row['id'],
        row['idAdmin'],
        row['namaLomba'],
        row['idKategori'],
        row['deskripsiLomba'],
        row['tanggalBukaPendaftaran'],
        row['tanggalTutupPendaftaran'],
        row['posterLomba'],  
        row['lampiran'],
        row['created_at'],
        row['updated_at']
    )
    cursor.execute(query, values)
    connection.commit()
    cursor.close()


dfl.apply(insert_data, axis=1)


connection.close()

In [43]:
dfp = pd.read_csv('pesertas.csv')
def insert_data_pesertas(row):
    cursor = connection.cursor()
    query = "INSERT INTO pesertas (id, idLomba, idMahasiswa, tanggalDaftar, created_at, updated_at) VALUES (%s, %s,%s, %s, %s, %s)"
    values = (
        row['id'],
        row['idLomba'],
        row['idMahasiswa'],
        row['tanggalDaftar'],
        row['created_at'],
        row['updated_at'],
    )
    cursor.execute(query, values)
    connection.commit()
    cursor.close()


dfp.apply(insert_data_pesertas, axis=1)

connection.close()